//<---Color
$primaryGreen: #00F222;
$white: #FFFFFF;
$secondaryGray: #3C3C3C;
$secondaryOrange: #FE5D26;
$secondaryPurple: #9B5DE5;
$secondaryYellow: #F1A208;
$secondaryBlue: #00A5E0;
$background: #3C3C3C;
$background2: #464646;
$black: #1D1D1D;


//<---px
$container-width: 1268px
